[data-test="test" i] {
    font-size: 125%;
}
/* если стоит i то регистр в значении дата атрибута не будет важен */
/* Выбрать элемент с таким именем атрибута, имеющим такое значение */
/* [data-size="large"] {
    padding: 2rem;
    font-size: 125%;
  }
  
  /* Выбор можно ограничить элементом, классом, или чем-то другим */
  /* button[data-type="download"] { }
  .card[data-pad="extra"] { } */








  /* Выбор элементов, у которых имеется указанный атрибут
[data-size] { }

/* Выбор элемента, атрибут которого имеет заданное значение 
[data-state="open"],
[aria-expanded="true"] { }

/* Селектор "начинается с", использование которого приведёт к выбору элементов, атрибут которых содержит "3", а так же - что угодно другое, начинающееся с 3 - вроде "3.14" 
[data-version^="3"] { }
/* Селектор "содержит" указывает на то, что заданная строка должна содержаться где-то в значении свойства 
[data-company*="google"] { } */









/* <div data-emoji=":-)"> */
/* [data-emoji]::before {
    content: attr(data-emoji);  Возвращает ':-)' 
    margin-right: 5px;
  } */